<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <meta charset="UTF-8">
    <title>{{character.name}} {{character.rank}}</title>
</head>
<body>
    <h1>{{character.name}} {{character.rank}}, {{character.animal}} {{character.alignment}} of {{character.aspect}}</h1>
    <p>
        Weapon: <u>{{character.weapon}}</u><br>
        Power: <u>{{character.power}}</u><br>
        Species: <u>{{character.species}}</u><br>
        Inverse: <u>{{character.inverse}}</u><br>
    </p>
    <a href="{{url_for('home')}}">Back to list</a>
</body>
</html>